article {
  font-size: 1rem;
  line-height: 1.5;
  margin: 10px;
}

article h2 {
  font-size: 1.5rem;
}

article p {
  font-size: 1rem;
}

#sobre h2,#contato h2 {
  font-size: 1.2rem;
  color: #0af;
}

@media (max-width:600px){
  article h2{font-size:1.3rem;}
}
